.card1{
    border: 2px solid black;
   width: 28%;
    margin: 10px 10px;
    padding: 10px 5px 40px 30px;
}
.IMG{
    padding-left: 60PX;
    border-radius: 50%;

}
.RESUME{
    margin-left: 100PX;
}
.parent{
    display: flex;
}
